

.template{
	width:500px;
	height:200px;
	float: left; 
	margin:20px;
	font-family: cursive;;
}
#details{
	padding:20px;
	border:3px solid black;
  top: 5%;
  left: 30%;
   background-color: #ffccff;
   color:#800000;
   font-family: cursive;
   font-weight: normal;
    box-shadow: 10px 10px 5px #888888;
}
#index{
	font-family: cursive;
	font-size: 30px;
	padding:20px;
	border:3px solid black;
	width:500px;
	position: fixed; /* or absolute */
  top: 25%;
  left: 30%;
   background-color:#0052cc;
   color:white;
    box-shadow: 10px 10px 5px #888888;
}
input[type=submit] {
    padding: 5px 5px;
    margin: 8px 0;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 4px;
}
input[type=submit]:hover{
	 box-shadow: 5px 5px 5px #888888;
	 background-color: #a3a375;
}
input[type=text] {
    border: 2px solid #660033;
    border-radius: 4px;
}
input[type=text]:hover{
	background-color: #a3a375;
}
#welcome{
	background-color:#99ff99; 
}
#detailLink{
	float: right;
	font-family: "Lucida Console", Monaco, monospace;
	font-weight: bolder;
	font-size: 15px;

}
#detailLink:hover{
	font-size: 20px;
	color:#990033;
}
#indexBody{
background-color:#b3d1ff; 
}
#detailBody{
	background-color: #ddccff;

}